<section class="chats-page__messager messager">
    {{#if isCurrentChat}}
        {{{ chatHeader }}}

        <main class="messager__main">
            <div class="messager__main-wrap">
                <div class="messager__main-wrap-inner">
                    {{#each messages }}
                        <section class="messager__bubbls-date-groups">
                            <h3 class="messager__bubbles-group-title text-12-medium">{{this.day}}</h3>
                            {{#each this.bubbles }}
                                <div
                                    class="messager__bubble bubble text-12-medium 
                                    {{#if this.isMe}}bubble--me{{/if}}"
                                >
                                    <div class="bubble__content">{{ this.content }}</div>
                                    <span class="bubble__time text-9">{{ this.localTime }}</span>
                                </div>
                            {{/each }}
                        </section>
                    {{/each }}
                </div>
            </div>
        </main>

        {{{ chatFooter }}}
    {{else}}
            <h3 class="page page-center justify-center">Выберите чат чтобы отправить сообщение</h2>
    {{/if}}
</section>
