<div class="profile__wrap">
    {{{ pageTitle }}}
    {{{ avatar }}}
    <h3 class="profile__user-name">{{ profile.userName }}</h3>

    <div class="profile__fields">
        {{#each profile.fields}}
            <div class="profile__field">
                <div class="profile__field-name">{{this.title}}</div>
                <div class="profile__field-value">{{this.value}}</div>
            </div>
        {{/each}}
    </div>

    <div class="profile__actions">
        {{{ editProfile }}}
        {{{ editAvatar }}}
        {{{ editPassword }}}
        {{{ logout }}}
    </div>

    {{{ modal }}}
</div>
